.position-on {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.position-off {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
}

.transition {
    transition-property:transform;
    transition-duration:.25s;
    transition-timing-function:linear;
    transition-delay:0;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:.25s;
    -webkit-transition-timing-function:linear;
    -webkit-transition-delay:0;
}

.show {
    display:block;
}

.hide {
    left:1000px;
    right:1000px;
}

/*
    .transition {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-property: visibilty, opacity;
    transition-duration: 0, 500ms;
    transition-timing-function: linear, ease-in-out;
    transition-delay: 0, 0;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition-property: visibilty, opacity;
    -webkit-transition-duration: 0, 500ms;
    -webkit-transition-timing-function: linear, ease-in-out;
    -webkit-transition-delay: 0, 0;
}
.show {
    visibility: visible;
    opacity: 1.0;
}
.hide {
    visibility: hidden;
    opacity: 0.0;
}

*/