@charset "utf-8";
/* CSS Document */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {height:100%; }
body {
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    overflow:hidden;
    position:relative;
    height:200px; 
    padding:0; margin:0; 
    background-color:white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:300;
	font-size: 100%;
}

.bold {font-weight:500;}
.right {text-align:right;}
.left {text-align:left;}